.vollkorn {
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

.gidole-regular {
    font-family: "Gidole", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-1 {
    font-size: .4rem;
}

.hero-text-2 {
    font-size: 2.1rem;
}

.text-3 {
    font-size: 2.38rem;
}

.text-4 {
    font-size: .3rem;
}